{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1> Welcome to Digital Business Technology Program</h1>
<h2>This is DBAP Coures</h2>
<h2>I love Python,Django,MySQL,Java,PHP,C++ and Everything in My Coures </h2>
<p>
    <img src="../static/images/gg.gif" width="250px" height="150px" class="img rounded-circle">
    <img src="{% static 'images/w.gif'%} " width="250px" height="150px" class="img img-thumbnail">
</p>
<p>I miss my cocoa butter kisses, hope you smile when you listen <br>
Ain't no competition, just competing for attention <br>
And you like, "I'm not on no games" <br>
Well, baby, I been peeping, and you ain't been the same <br></p>

<a href="/secondpage" >Go To Second Page</a> <br>
<a href="/thirdpage" >Go To Third Page</a>  <br>
{% endblock %}