{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2 class="text-success text-center text-bg-light">Add New Employee </h2>
    <table>
    <form  method="post" class="form form-control">
        {% csrf_token %}
        {{ forms }}


    <tr class="text-center">
            <td colspan="5">
            <input type="submit" value="Save" class="btn btn-success ">
            <input type="reset" value="Reset" class="btn btn-danger ">
            </td>
        </tr>
    </form>
    </table>
{% endblock %}