{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1 class="text-primary text-center">Hello I'm {{ name }} {{ surname }}</h1>
    <table class="table table-striped table-hover text-primary">
    <tr>
        <td>Name</td>   <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Surname</td>   <td>{{ surname }}</td>
    </tr>
    <tr>
        <td>Gender</td>   <td>{{ gender }}</td>
    </tr>
    <tr>
        <td>Education</td>   <td>{{ education }}</td>
    </tr>
    <tr>
        <td>Status</td>   <td>{{ status }}</td>
    </tr>
    <tr>
        <td>Work</td>   <td>{{ work }}</td>
    </tr>
    </table>

    <h2 class="text-danger">วิชาที่สอน</h2>
    <table class="table table-danger text-dark  table-striped table-hover">
        <tr>
            <th>Subject Id </th><th>Subject name </th><th>Credit </th>
        </tr>

        {% for subject in subjects %}
            <tr>
                <td>{{ subject.0 }}</td>
                <td>{{ subject.1 }}</td>
                <td>{{ subject.2 }}</td>

            </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{%  url 'home' %}" class="btn btn-primary">Home</a>
    </div>
{% endblock %}