{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2 class="text-primary text-center text-bg-secondary">Employee Information</h2>
    <table class="table table-warning table-striped table-hover">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Division</th>
            <th>Status</th>
            <th>Salary</th>
        </tr>
        {% for employee in employees %}
            <tr>
            <td> {{ employee.id }}</td>
            <td> {{ employee.name }}</td>
            <td> {{ employee.surname }}</td>
            <td> {{ employee.division }}</td>
            <td> {{ employee.status }}</td>
            <td> {{ employee.salary }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="row">
        <div class="col col-6 text-lg-start">
            <a href="{% url 'home' %}" class="btn btn-primary ">Home</a>
        </div>
            <div class="col col-6 text-lg-end">
                <a href="{% url 'newEmployee' %} " class="btn btn-success">New Employee</a>
            </div>
        <div class="col col-6 text-lg-end">
            <a href="{% url 'newEmployeeForm' %} " class="btn btn-success">New Employee(Form)</a>
        </div>
        </div>
    </div>
{% endblock %}