{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Product Information</h1>
    <h2>{{ product.pid  }} : {{ product.name }}</h2>
    <table>
    <tr>
        <td>รหัสสินค้า</td> <td>{{ product.pid }}</td>
    </tr>
    <tr>
        <td>ยี่ห้อ</td>
        <td>{{ product.brand }}</td>
    </tr>

    <tr>
        <td>ราคาต่อหน่วย</td>
        <td>{{ product.price }}</td>
    </tr>
    <tr>
        <td>คงเหลือ</td>
        <td>{{ product.net }}</td>
    </tr>
    </table>
    <br>
    <div class="col col-6 text-lg-center">
            <a href="{% url 'home' %}" class="btn btn-primary ">Home</a>
    </div>
    <button onclick="history.back()">Back
    </button>
{% endblock %}